@media screen and (max-width: 1024px) {

    h2{
        font-size: 24px;
    }

    .container{
        padding-left: $container-mobaile-padding;
        padding-right: $container-mobaile-padding;
    }

    .header{
        padding: 17px 0 15px;

        .container{
            padding: 0px 17px 14px;
            padding-bottom: 3px;
        }

        &__logo{
            max-width: 126px;
        }

        &__navigation{
            position: fixed;
            inset: 71px 0 0;
            flex-direction: column;
            padding: 14px 40px 60px;
            background-color: $bg-secondary;
            
            &__navigation-list{
                margin: 22px auto;
            }

            .btn{
                width: 100%;
                height: 62px;
                max-width: 295px;
                margin: 0 auto;
                padding: 0;
                justify-content: center;
                border-radius: 90px;
            }
        }

        &__navigation-item{
            margin-bottom: 11px;
        }

        &__navigation-item-link{
            font-size: 24px;
            line-height: 222%;
        }
    }
}

@media screen and (max-width: 1024px){
    .header__navigation-list{
    flex-direction: column;
    }
}

