@media screen and (max-width: 1024px) {

    h2{
        font-size: 24px;
    }

    .container{
        padding-left: $container-mobaile-padding;
        padding-right: $container-mobaile-padding;
           /* padding: 0px 17px 14px;
            padding-bottom: 3px;*/

    }

    .header{
        padding: 17px 0 15px;
        .container{
            padding-top: 1px;
            padding-bottom: 3px;
        }
        &__logo{
            max-width: 126px;
        }

        &__navigation{
            position: fixed;
            inset: 90px 0 0;
            flex-direction: column;
            padding: 15px 40px 60px;
            background-color: $bg-secondary;
            
            &__navigation-list{
             flex-direction: column;
             margin-bottom: 48px;

            }
            .btn{
                width: 100%;
                height: 68px;
                max-width: 293px;
                margin: 25px auto;
                padding: 0;
                justify-content: center;
                border-radius: 90px;
            }
        }

        &__navigation-item{
            margin-bottom: 11px;
        }

        &__navigation-item-link{
            font-size: 24px;
            line-height: 222%;
        }
    }
}

@media screen and (max-width: 1024px){
    .header__navigation-list{
    flex-direction: column;
    }
}

