::selection{
    color: $text-color;
    background-color: $color-secondary;
}
body{
    background-color: $bg-primary;
}

a{
    color: $color-primary;
    text-decoration: none;
    &:hover{
        color: $color-primary;
        text-decoration: none;
    }
}

h1, .h1{
    font-size: 18px;
}
h2, .h2{
    font-size: 20px;
}
h3, .h3{
    font-size: 22px;
}
h4, .h4{
    font-family: 24px;
}
h5, .h4{
    font-family: 26px;
}
h6, .h6{
    font-family: 28px;
}

ul{
    list-style-type: none;
    li{
        list-style-type: none;
        &:not([class])::before{
            content: "";
            background-color: $color-secondary;
            margin-right: 12px;
            width: 8px;
            height: 8px;
            border-radius: 14%;
            display: inline-block;
        }
    }
}
