.header {
    padding: 25px 0 39px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1170px;
    }

    &__logo {
        max-width: 172px;
        width: 100%;
        img {
            max-height: 60px;
        }
    }
    &__navigation {
        width: 100%;
        display: flex;
        &-list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 602px;
            width: 100%;
            margin: 0 auto;
            padding: 0;
        } 
        &-item-link {
            color: #fff;
            text-decoration: none;
            &:hover {
                color:$color-primary;
            }
        }
    }
    .btn {
        padding: 14px 27px;
        width: 171px;
        height: 50px;
        background-color: #E58D35;
        border-radius: 25px;
        color: #fff;
        font-size: 15px;
        &:hover{
            background-color: #89C249;
        }
    }
}

.header__navigation{
    display: none; 

    &.show{
        display: flex;
    }
}

.btn-burger{
    padding: 1.5px 13.5px;
    border: none;
    position: relative;
&::before, 
&::after{
    content: "";
    top: -11px;
    left: 0;
    position: absolute;
    height: 2.5px;
    width: 27px;
    background: #fff;
}
&::after{
    top: initial;
    bottom: -11px;
    left: 0;
}
    &.open{
        background: transparent;
        &::after{
            transform: rotate(50deg) translate(-12px, 1px);
        }
        &::before{
            transform: rotate(317deg) translate(-15px, 5px);
        }
    }
}