.header{
    display: flex;
    text-align: center;
    padding: 25px 390px 39px;
    width: 1920px;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        --bs-gutter-x: 0;
    }

    &__logo{
        max-width: 172px;
        width: 100%;
            img{
                max-height: 48px;
            }
    }

    &__navigation{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 15px;
    align-items: flex-start;
    flex-wrap: wrap;
       
        &-list{
            display: flex;
            justify-content: space-between;
            width: 100%;
            max-width: 602px;
            margin: 16px 96px 11px 97px;
        }
        &-item-link{
            color:#fff;
            margin: 0px;
            &:hover{
                color: $color-primary;
            }
        }
    }

    .btn{
        padding: 14px 27px;
        width: 171px;
        height: 50px;
        background-color: #E58D35;
        border-radius: 25px;
        color: #fff;
        font-size: 15px;
        &:hover{
            background-color: #90EE90;
        }
    }
}