.header{
    padding: 25px 0 39px;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo{
        max-width: 172px;
        padding: 10px;
            img{
                max-height: 50px;
            }
    }

    &__navigation{
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: -80px;
       
        &-list{
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 602px; 
            width: 100%;
            margin: 4px 0 0 0;
            padding: 0;
            list-style-type: none;
        }
        &-item-link{
            color:#fff;
            &:hover{
                color: $color-primary;
            }
        }
    }

    .btn{
        padding: 13px 22px;
        color: #fff;
    }
}