///fonts///
$font-primary:  #e58d35;
$font-secondary:  "monospace";
$font-size: 16px;


///colors///
$color-primary: #E58D35;
$color-secondary: #E58D35;
$bg-primary: #282B38;
$bg-secondary: #363A4D;
$text-color: #fff;
$container-padding: 15px;
$container-mobaile-padding: 20px;